.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 50px;
}

.textAndButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black; */
}

.topTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.curationHubText {
  letter-spacing: 2px;
  color: #607b8b;
}

.productInventoryText {
  font-size: 2rem;
  font-weight: bolder;
}

.addProductButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  width: 25%;
  height: 60px;
  background-color: #474747;
  color: white;
  font-weight: normal;
}

.tableWrapper {
  width: 100%;
  /* border: 1px solid black; */
}

.productImage {
  /* width: 100%; */
  /* max-width: 150px; */
  /* height: auto; */
  /* border-radius: 20px; */
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.productNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productName {
  font-size: larger;
}

.productSku {
  font-size: small;
  color: #999;
}

.actionWrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  /* border: 1px solid tomato; */
  gap: 20px;
}

.actionWrapper > div {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

table {
  padding: 20px;
  width: 100%;
  border: 2px solid #e0e3e5;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.tableHead {
  background-color: #e4e2e2;
}

table th {
  font-size: 13px;
  color: #909191;
  height: 90px;
  letter-spacing: 2px;
  border-bottom: 2px solid #e0e3e5;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
  padding: 20px;
}

table td {
  border-bottom: 1px solid #e0e3e5;
}

table th,
table tr {
  padding: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 30px 10px;
}

.inStockWrapper {
  color: #607b8b;
}

.lowStockWrapper {
  color: #b91c1c;
}

.editActionWrapper {
  color: #808080;
}

.editActionWrapper:hover {
  color: #474747;
}

.deleteActionWrapper {
  color: #e37676;
}

.deleteActionWrapper:hover {
  color: #b91c1c;
}

.actionIcons {
  font-size: 20px;
}

.actionText {
  font-size: 13px;
}

.paginationWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paginationInfo {
  /* margin-top: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #999;
}

.paginationCounter {
  /* cursor: pointer; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.paginationSpan {
  /* background-color: orange; */
  width: 40px;
  height: 40px;
  border: 1px solid #e0e3e5;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.highlightedPaginationSpan {
  background-color: #474747;
  color: white;
}
