.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 50px;
}

.textAndButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid black; */
}

.topTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.curationHubText {
  letter-spacing: 2px;
  color: #999;
}

.productInventoryText {
  font-size: 2rem;
  font-weight: bolder;
}

.addProductButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  width: 25%;
  height: 60px;
  background-color: #474747;
  color: white;
  font-weight: normal;
}

.tableWrapper {
  width: 100%;
  /* border: 1px solid black; */
}

.productImage {
  width: 150px;
  border-radius: 20px;
}

.productNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productName {
  font-size: larger;
}

.productSku {
  font-size: small;
  color: #999;
}

.actionWrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: row;
  /* border: 1px solid tomato; */
  gap: 20px;
}

.actionWrapper > div {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

table {
  padding: 20px;
}

.tableHead {
  /* background-color: orange; */
}

table th {
  font-size: 13px;
  color: #999;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
}

table th,
table tr {
  padding: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 30px 10px;
}

.editActionWrapper {
  color: #474747;
}

.deleteActionWrapper {
  color: #b91c1c;
}

.actionIcons {
  font-size: 20px;
}

.actionText {
  font-size: 13px;
}
