.container {
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  border: 1px solid black;
  flex-direction: column;
  padding: 30px;
}

.topContentWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.topContentFirstLineWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  font-size: small;
  letter-spacing: 2px;
}

.inventoryTextAndIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #607b8b;
}

.addNewItemText {
  color: #999;
}

.heading {
  margin: 0;
}

.paragraph {
  font-size: medium;
  color: #777777;
  /* margin-top: 0; */
}

.mainContentWrapper {
  display: flex;
}

.productDetailsWrapper {
  width: 60%;
  border: 1px solid violet;
}

.productImagesAndActionWrapper {
  width: 40%;
  border: 1px solid brown;
}
