input {
  padding-left: 10px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  /* border: 1px solid black; */
  flex-direction: column;
  padding: 30px;
}

.topContentWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
}

.topContentFirstLineWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  font-size: small;
  letter-spacing: 2px;
}

.inventoryTextAndIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #607b8b;
}

.addNewItemText {
  color: #999;
}

.heading {
  margin: 0;
}

.paragraph {
  font-size: medium;
  color: #777777;
  margin-top: 5px;
}

.mainContentWrapper {
  display: flex;
}

.productDetailsWrapper {
  width: 60%;
  padding: 10px 30px 10px 10px;
  /* border: 1px solid violet; */
}

.productNameInput {
  height: 50px;
  background-color: transparent;
  font-size: large;
  border-bottom: 0.5px solid #999;
}

.productNameInput::placeholder {
  padding-left: 10px;
  font-size: large;
}

.productNameInput:focus {
  border-bottom: 1px solid #999;
  outline: none;
}

.categoryAndSkuWrapper {
  display: flex;
  align-items: center;
  padding: 30px 0 10px 0;
}

.categoryWrapper {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectCategoryTag {
  height: 40px;
  font-size: medium;
  background-color: #e6eeea;
  border: none;
}

.addCategoryWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 12px;

  top: 100%;
  left: 0;

  margin-top: 10px;
  width: 100%;

  background-color: #e2f3ff;
  /* border: 1px solid #2a2a2a; */
  border-radius: 10px;

  z-index: 1000;
}

.newCategoryInput {
  /* opacity: 0.7; */
  border: none;
}

.newCategoryInput:focus {
  border: 1px solid #afcadc;
}

.saveCategoryButton {
  /* opacity: 0.5; */
  /* width: 50%; */
  height: 40px;
  border-radius: 10px;
  background-color: #cae6f9;
}

.skuIdentifierWrapper {
  width: 45%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skuIdentifierInput {
  height: 40px;
  background-color: #e6eeea;
  font-size: large;
  border: none;
}

.skuIdentifierInput::placeholder {
  font-size: medium;
  padding-left: 10px;
}

.skuIdentifierInput:focus {
  border-bottom: 1px solid #999;
}

.detailedDescriptionWrapper {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 10px;
}

.textAreaOfDetailedDescription {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border: none;
  background-color: #e6eeea;
  resize: vertical;
}

.descriptionQuantityWrapper {
  display: flex;
  width: 100%;
  /* border: 1px solid violet; */
}

.textAreaOfDetailedDescription::placeholder {
  color: #999;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.textAreaOfDetailedDescription:focus {
  outline: none;
}

.priceAndCurrencyWrapper {
  margin-top: 30px;
  display: flex;
  padding: 30px;
  background-color: #e6eeea;
}

.priceAndCurrencyCombined {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.priceAndCurrency {
  font-size: small;
  color: #919090;
  font-weight: bolder;
  letter-spacing: 1px;
}

.standardPriceWrapper {
  align-items: center;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: #607b8b;
}

.dollarSign {
  color: #999;
}

.currencyWrapper {
  margin-left: auto;
  align-items: flex-end;
}

/* Below is the bottom section of the page */

.productImagesAndActionWrapper {
  width: 40%;
  /* border: 1px solid brown; */
}

.visualAssetText {
  display: flex;
  padding-bottom: 10px;
}

.visualAssetsText {
  font-size: small;
  color: #919090;
  font-weight: bolder;
  letter-spacing: 1px;
}

.upto4ImagesText {
  margin-left: auto;
  font-size: small;
  color: #999;
}

.imageCard {
  position: relative;
  overflow: hidden;
}

.primaryImageCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlayWrapper {
  position: absolute;
  /* left: 0;
  top: 0; */
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  cursor: pointer;
}

.iconAndText {
  color: #afcadc;
}

.primaryImageIcon {
  font-size: 40px;
}

.primaryImageUploadText {
  font-weight: 300;
}

.quantityWrapperWithLabel {
  padding-top: 30px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  /* height: 100%; */
  /* flex: 1; */
  /* border: 1px solid pink; */
}

.quantityWrapper {
  display: flex;
  /* border: 1px solid orange; */
}

.quantityInput {
  cursor: pointer;
  /* height: 50%; */
  background-color: #e6eeea;
  height: 3em;
  font-size: medium;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quantityInput::placeholder {
  text-align: center;
  color: #607b8b;
}

.quantityInput:focus {
  border: none;
}

.imageOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  gap: 15px;
}

.emptyImages {
  cursor: pointer;
  width: 33%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6eeea;
  color: grey;
  /* border: 1px solid orange; */
}

.horizontalRulerInImageSection {
  /* content: none; */
  margin: 20px 0px;
  display: block;
  width: 100%;
  /* border-bottom: 0.1px solid rgba(0, 0, 0, 0.05); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.02); */
  border-bottom: 1px solid #999;
  opacity: 0.2;
}

.buttonsInImageSection {
  width: 100%;
  height: 60px;
  margin: 20px 0 0 0;
}

.saveProductButton {
  background-color: #474747;
  color: white;
  /* letter-spacing: 1px; */
}

.cancelButton {
  background-color: #e4e2e2;
}
