/* .page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
}

.contentContainer {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
  min-height: 500px;
  width: 30%;
  background-color: white;
}

.brandingText {
  margin-bottom: 30px;
}

.recoverAccessText {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: -10px;
}

.instructionText {
  margin-top: 0;
  font-weight: 500;
  color: #919090;
}

.emailAddressLabel {
  font-size: small;
  font-weight: bold;
  color: #919090;
}

.emailInput {
  width: 100%;
  border: none;
  border-bottom: 2px solid #c6c6c7;
  outline: none;
  height: 40px;
  font-size: medium;
}

.sendLinkButton {
  width: 100%;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  height: 40px;
  margin-top: 20px;
  background-color: #474747;
  color: #e2e2e2;
  /* margin-bottom: 20px; */

  transition: transform 0.2s ease;
}

.sendLinkButton:active {
  transform: translateY(2px);
}

.horizontalRuler {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
}

.returnToLoginWrapper {
  text-decoration: none;
  /* margin-top: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #919090;

  transition: transform 0.2s ease;
}

.returnToLoginWrapper:active {
  transform: translateY(2px);
}

.returnToLoginWrapper:hover {
  color: #474747;
}

.returnToLoginText {
  font-weight: bolder;
}
