.container {
  flex: 1;
  display: flex;
}

.advertisementWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid green;
}

.advertisementSection {
  /* width: 50%;
  height: 90vh; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  max-width: 500px;
  /* border: 1px solid black; */
}

.advertisementSection h1 {
  margin: 10px 0;
  line-height: 1.2;
}

.registerationContent {
  /* width: 50%;
  height: 90vh; */
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid red;
}

.topText {
  margin-bottom: 0;
  font-size: smaller;
  font-weight: bolder;
  color: #919090;
}

.contentBlock {
  width: 100%;
  max-width: 400px;
}

.brandingSentenceInParagraph {
  font-weight: 300;
  font-size: small;
  color: #919090;
  width: 100%;
  margin-bottom: 10px;
}

.brandingImage {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  margin-top: 20px;
}
