.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titleZenvy {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  min-height: 500px;
  width: 30%;
}

.resetPasswordContent {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 25px;
}

.instructionInParagraph {
  margin-top: 0;
}

.labelAndInputWrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #c6c6c7;
  outline: none;
}

input::placeholder {
  color: #c8c6c6;
}

input:focus {
  border-bottom: 2px solid #304a59;
}

label {
  font-size: small;
  margin-bottom: 0;
  color: #919090;
  font-weight: bolder;
  letter-spacing: 1px;
}

.buttons {
  width: 100%;
  cursor: pointer;
  height: 40px;
  border: none;
  font-weight: bolder;
  margin-top: 30px;

  transition: transform 0.2s ease;
}

.updateAccessButton {
  background-color: #474747;
  color: #e2e2e2;
}

.buttons:active {
  transform: translateY(2px);
}

.returnToSignInButton {
  background: none;
  color: #919090;
}
